module.exports = {
  apps: [
    {
      name: 'clouddrive-api',
      script: 'server.js',
      cwd: '{{ app_dir }}/backend',
      instances: 1,
      autorestart: true,
      watch: false,
      max_memory_restart: '500M',
      env: {
        NODE_ENV: 'production',
        PORT: 3000,
        FRONTEND_URL: 'http://{{ ansible_host }}',
        JWT_SECRET: '{{ jwt_secret }}',
        JWT_EXPIRES_IN: '7d',
        DB_HOST: '{{ db_host }}',
        DB_PORT: 3306,
        DB_USER: '{{ db_user }}',
        DB_PASSWORD: '{{ db_password }}',
        DB_NAME: '{{ db_name }}',
        AWS_REGION: '{{ aws_region }}',
        S3_BUCKET_NAME: '{{ s3_bucket }}'
      }
    }
  ]
};
